extends ../layout

block content
   h1  PM2
   p #{JSON.stringify(result)}
   div.abc  
    input(id="url" value="/demo/pm2/list")
    button(onclick="goto()") 访问
    button(onclick="goto('/demo/pm2/kill')") 杀进程
   iframe#frame1(src="http://baidu.com") 
    
block afterScripts
    script.
      function goto(href){
           href=href||document.getElementById('url').value;
         document.getElementById('frame1').src=href;
      }
block beforeStyle
    style.
     #url{
            width:250px;
            height:24px;
            font-size:24px;
            } 
     button{
         width:100px;
         height:30px; 
     }
     .abc{
         border:5px solid red;
     }
     #frame1{
         width:100%;
         height:600px;
         overflow:hidden;
     }

